.Component.clickable {
  cursor: pointer;
}

.Component .left {
  width: 48px;
  height: 48px;
  background-color: #37333d;
  border-radius: 8px;
}

.Component .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.Component .name {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
}

.Component .description {
  font-size: 15px;
  line-height: 24px;
  color: var(--secondary-text);
}

.Component .left > div {
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
