.TowerDetail .PageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TowerDetail .Component .left > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.TowerDetail .rarity {
  font-size: 13px;
  line-height: 18px;
  border-radius: 5px;
  padding: 7px 12px;
  font-weight: 600;
  height: 32px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: default;
  margin-left: 16px;
  margin-top: 6px;
  cursor: pointer;
}

.TowerDetail .Component .body_shape {
  background-image: url(../../../images//wearables/BodyShapeIcon.svg);
}

.TowerDetail .Component .earring {
  background-image: url(../../../images//wearables/EarringsIcon.svg);
}

.TowerDetail .Component .eyebrows {
  background-image: url(../../../images//wearables/EyebrowIcon.svg);
}

.TowerDetail .Component .eyes {
  background-image: url(../../../images//wearables/EyesIcon.svg);
}

.TowerDetail .Component .eyewear {
  background-image: url(../../../images//wearables/EyewearIcon.svg);
}

.TowerDetail .Component .facial_hair {
  background-image: url(../../../images//wearables/FacilHairIcon.svg);
}

.TowerDetail .Component .feet {
  background-image: url(../../../images//wearables/FeetIcon.svg);
}

.TowerDetail .Component .hair {
  background-image: url(../../../images//wearables/HairIcon.svg);
}

.TowerDetail .Component .hat {
  background-image: url(../../../images//wearables/HatIcon.svg);
}

.TowerDetail .Component .helmet {
  background-image: url(../../../images//wearables/HelmetIcon.svg);
}

.TowerDetail .Component .lower_body {
  background-image: url(../../../images//wearables/LowerBodyIcon.svg);
}

.TowerDetail .Component .mask {
  background-image: url(../../../images//wearables/MaskIcon.svg);
}

.TowerDetail .Component .mouth {
  background-image: url(../../../images//wearables/MouthIcon.svg);
}

.TowerDetail .Component .tiara {
  background-image: url(../../../images//wearables/TiaraIcon.svg);
}

.TowerDetail .Component .top_head {
  background-image: url(../../../images//wearables/TopHeadIcon.svg);
}

.TowerDetail .Component .upper_body {
  background-image: url(../../../images//wearables/UpperBodyIcon.svg);
}

.TowerDetail .Component .left > .BaseMale {
  background-image: url(../../../images//wearables/MaleIcon.svg);
  background-size: 24px 24px;
}

.TowerDetail .Component .left > .BaseFemale {
  background-image: url(../../../images//wearables/FemaleIcon.svg);
  background-size: 24px 24px;
}

.TowerDetail .Component .left > .Unisex {
  background-image: url(../../../images//wearables/UnisexIcon.svg);
  background-size: 24px 24px;
}

.TowerDetail .Component .barrel.common {
  background-image: url(../../../images//towers/Barrel_Common.svg);
}
.TowerDetail .Component .barrel.uncommon {
  background-image: url(../../../images//towers/Barrel_Uncommon.svg);
}
.TowerDetail .Component .barrel.rare {
  background-image: url(../../../images//towers/Barrel_Rare.svg);
}
.TowerDetail .Component .barrel.epic {
  background-image: url(../../../images//towers/Barrel_Epic.svg);
}
.TowerDetail .Component .barrel.legendary {
  background-image: url(../../../images//towers/Barrel_Legendary.svg);
}

.TowerDetail .Component .controller.common {
  background-image: url(../../../images//towers/Controller_Common.svg);
}
.TowerDetail .Component .controller.uncommon {
  background-image: url(../../../images//towers/Controller_Uncommon.svg);
}
.TowerDetail .Component .controller.rare {
  background-image: url(../../../images//towers/Controller_Rare.svg);
}
.TowerDetail .Component .controller.epic {
  background-image: url(../../../images//towers/Controller_Epic.svg);
}
.TowerDetail .Component .controller.legendary {
  background-image: url(../../../images//towers/Controller_Legendary.svg);
}
.TowerDetail .Component .enhancer.common {
  background-image: url(../../../images//towers/Enhancer_Common.svg);
}
.TowerDetail .Component .enhancer.uncommon {
  background-image: url(../../../images//towers/Enhancer_Uncommon.svg);
}
.TowerDetail .Component .enhancer.rare {
  background-image: url(../../../images//towers/Enhancer_Rare.svg);
}
.TowerDetail .Component .enhancer.epic {
  background-image: url(../../../images//towers/Enhancer_Epic.svg);
}
.TowerDetail .Component .enhancer.legendary {
  background-image: url(../../../images//towers/Enhancer_Legendary.svg);
}
.TowerDetail .Component .base.common {
  background-image: url(../../../images//towers/Base_Common.svg);
}
.TowerDetail .Component .base.uncommon {
  background-image: url(../../../images//towers/Base_Uncommon.svg);
}
.TowerDetail .Component .base.rare {
  background-image: url(../../../images//towers/Base_Rare.svg);
}
.TowerDetail .Component .base.epic {
  background-image: url(../../../images//towers/Base_Epic.svg);
}
.TowerDetail .Component .base.legendary {
  background-image: url(../../../images//towers/Base_Legendary.svg);
}