.Components > .ui.header {
  margin-bottom: 13px;
}


.Components > .Row {
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .Components .Component + .Component {
    margin-left: 64px;
  }
}

@media (max-width: 768px) {
  .Components > .Row {
    flex-direction: column;
  }

  .Components .Component + .Component {
    margin-top: 24px;
  }
}
